


.todo_main_body{
    margin-top: 12vh;
}


.round_btm_input{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;

    border: 4px double black;
    border-bottom: 0;

    border-top: 7px solid darkblue;


    
}

.items{
    width: 100%;
    background-color: white;
    border-left: 4px double black;
    border-right: 4px double black;
}


.single_item:hover{
    background-color: rgba(0, 255, 183, 0.403);
    font-size: 1.1rem;
    transform: scaleY(1.1);
    border-left: 4px solid darkblue !important;
    border-right: 4px solid darkblue !important;
}





.dayAgo{
    font-size: 0.8rem;
    font-weight: 700;
    color: blueviolet;
    text-align: center;
}


.update_main,.delete_one {
    position: relative;
    display: inline-block;
}

.dropdown-content_delone , .dropdown-content_update {
    display: none;
    position: absolute;
    color: white;

    border-radius: 0.5vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 0.6rem;
    font-weight: 500;
    text-align: center;
    z-index: 1;

    width: 100%;
    /* height: 100%; */

    justify-content: center;
    align-items: center;

}


.this_to_all_del{
    height: 98%;
}

.dropdown-content_update{
    background-color: #198754;
}

.dropdown-content_delone{
    background-color: #dc3545;
}




.update_main:hover .dropdown-content_update {
    display: flex;
}

.delete_one:hover .dropdown-content_delone{
    display: flex;
}

.clear{
    width: 100%;
    background-color: rgb(216, 208, 208);
    min-height: 8vh;
    color: red;

    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;

    border: 4px double black;
    border-bottom: 4px solid darkblue;
    border-top: 0;
    

}

#forGap{
    height: 10vh;
}

#todoImag{
    width: 60vh;
    border-radius: 5vh;
    border: 1px solid wheat;
    box-shadow: 2px 2px 10px white;
   
}



@media (max-width : 576px) {
    
    .todomain{
        width: 98vw;
    }

    #todoImag{
        width: 35vh;
    }

}
